{% if site.disqus %}
<div id="disqus_thread"></div>
<script>
    /**
     Updated on 11-25-2015 to reflect Disqus JS update
     */
    
    var disqus_config = function () {
        // this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ page.disqus_identifier }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        var disqus_shortname = '{{ site.disqus }}';
        var disqus_identifier = '{{ page.disqus_identifier }}';
    };
    
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//chrisrisnercom.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
