<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>



{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<nav id="link-nav">{% include navigation.html %}</nav>

<div id="sub-nav" class="text-center">
	<ul class="list-unstyled list-inline social">
		{% if site.author.github %}
		<li>
			<a class="github" href="https://github.com/{{ site.author.github }}" title="GitHub">
				GitHub
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a class="twitter" href="https://twitter.com/{{ site.author.twitter }}">
				Twitter
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="rss" href="{{ site.rss_url }}">
				RSS
			</a>
		</li>
		{% endif %}
		{% if site.author.keybase %}
		<li>
			<a class="keybase" href="https://keybase.io/{{ site.author.keybase }}">
				Keybase
			</a>
		</li>
		{% endif %}
	</ul>	
</div>
<!-- sidebar.html end -->
