<div class="boxed">
<h4>READ THIS FIRST</h4>
<strong>Update: 3-4-2016:  </strong>If you're finding this blog and looking for information related to Azure Mobile Services, I'd strongly recommend checking out Azure Mobile Apps.  Azure Mobile Apps is a new version (consider it a v2) of Azure's mobile backend support.  All of the same features of Azure Mobile Services are there, with a lot of other very cool features to go along.  <a href="/Going-from-Mobile-Services-to-Mobile-Apps">You can read more about Azure Mobile Apps, and how to transition from Azure Mobile Services, here</a>.
</div>