@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
	color: #2c3e50;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	background-color: royalblue;
	color: #fff;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.page-header {
	/*color: #e74c3c;*/
	color: #bd9562;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 10px;
}

.tags {
	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 10px;
}

.edit {
	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 10px;
}

.comments {
	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 10px;
}

article {
	padding: 0 10% 0 5%;
}

@media screen and (max-width: 600px) { 
    article {
    	padding: 0 5% 0;
    }
}

/*article.home div a, article.home pre a { color: #2c3e50; }*/
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Ubuntu', sans-serif;
	/*color: #f2756a;*/
	color: #bd9562;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	/*color: #f2756a;*/
	color: #bd9562;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	/*color: #e74c3c;*/
	color: #bd9562;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
	text-align: center;
	color: darkgray;
}

footer a {
	color: darkgray;
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

#link-nav {    
    text-align: center;
}

.main-navigation {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    text-align: left;
    font-size:1.5em;
    list-style-type: none;
    margin: 20px auto;
    padding: 0px;
    
}

#link-nav>ul>li:hover>a { color: #bd9562 }
#link-nav>ul>li>a {
	color: #fff;
}


#main-nav {
    float: left;
	margin-top: 30px;
	font-size:1.5em;
	
	position: relative;
	left: 50%;
}

#main-nav>ul {
	position: relative;
	float: left;
	left: -90%;
}

@media screen and (max-width: 600px) { 
    #main-nav>ul { display: none }
}
#main-nav>ul>li {
	list-style-type: none;
    zoom: 1;
    *display: inline;	
}
@media screen and (max-width: 1040px) { 
    #main-nav>ul>li {
    }
    #main-nav>ul>li:last-of-type { margin-right: 0 }
}
#main-nav>ul>li:hover>a { color: #bd9562 }
#main-nav>ul>li>a {
	color: #fff;
}
#main-nav>ul>li>a:after {
    content: "\f078";
    color: #ccc;
    font: 12px FontAwesome;
}
#main-nav>ul>li>a:only-child:after { content: "" }
@media screen and (max-width: 1040px) { 
    #main-nav>ul>li>a {}
}
@media screen and (max-width: 1040px) { 
    #main-nav>ul ul { top: 40px }
}









#contact-list .social ul li a {
/*.social ul li a {*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-indent: -9999px;
    margin: 0 15px 15px 0;
    opacity: 0.5;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#sub-nav .social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-indent: -9999px;
    margin: 0 15px 15px 0;
    opacity: 0.5;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#sub-nav .social a:hover { opacity: 1 }
#sub-nav .social a.twitter {
    background: url('/images/social/twitter.png?1385702818') center no-repeat #55cff8;
    border: 1px solid #55CFF8;
}
#sub-nav .social a.twitter:hover { border: 1px solid #24c1f6 }
#sub-nav .social a.github {
    background: url('/images/social/github.png?1385702818') center no-repeat #afb6ca;
    border: 1px solid #afb6ca;
}
#sub-nav .social a.github:hover { border: 1px solid #909ab6 }
#sub-nav .social a.rss {
    background: url('/images/social/rss.png?1385702818') center no-repeat #ef7522;
    border: 1px solid #EF7522;
}
#sub-nav .social a.rss:hover { border: 1px solid #cf5d0f }

#contact-list .social ul li a:hover { opacity: 1 }
#contact-list .social ul li a.twitter {
    background: url('/images/social/twitter.png?1385702818') center no-repeat #55cff8;
    border: 1px solid #55CFF8;
}
#contact-list .social ul li a.twitter:hover { border: 1px solid #24c1f6 }
#contact-list .social ul li a.github {
    background: url('/images/social/github.png?1385702818') center no-repeat #afb6ca;
    border: 1px solid #afb6ca;
}
#contact-list .social ul li a.github:hover { border: 1px solid #909ab6 }
#contact-list .social ul li a.rss {
    background: url('/images/social/rss.png?1385702818') center no-repeat #ef7522;
    border: 1px solid #EF7522;
}
#contact-list .social ul li a.rss:hover { border: 1px solid #cf5d0f }

#sub-nav .social a.keybase {
    background: url('/images/social/keybase.png?1385702818') center no-repeat;
    border: 1px solid;
}
#sub-nav .social a.keybase:hover { border: 1px solid }
#contact-list .social ul li a.keybase {
    background: url('/images/social/keybase.png?1385702818') center no-repeat;
    border: 1px solid;
}
#contact-list .social ul li a.keybase:hover { border: 1px solid }

.not-mobile {
    display:inline-block;
}

@media screen and (max-width: 600px) { 
    .not-mobile { display: none }
}

.centeredInSite {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centeredInContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boxed {
    border: 1px solid black ;
    padding: 5px 0px 5px 10px;
    margin: 5px 0px 5px 0px;
}

.entry-content {
    margin-top: 10px;
}


/* ==========================================================================
   Comments
   ========================================================================== */

   .comment {
    position: relative;
    margin-bottom: 4em;
    padding-left: 4.5em;
    font-size: 0.8em;
  
    // comment replies
    &.child {
      margin-left: 4.5em;
    }
  }
  
  .comment-timestamp {
    font-size: 0.8em;
  
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .comment-content {
    margin-top: 1em;
  
    > p,
    > ul,
    > ol,
    > figure,
    > table {
      margin-bottom: 1.5em;
    }
  
    ul {
      list-style-type: square;
    }
  
    li {
      margin-bottom: 0.5em;
    }
  
    li > ul,
    li > ol {
      margin-top: 0.5em;
    }
  
    img {
      max-width: 100%;
    }
  
    .highlighter-rouge {
      .highlight {
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
      }
  
      .highlight code {
        font-size: 0.8em;
      }
    }
  }
  
  .comment-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.25em;
    height: 3.25em;
  
    &::after {
      position: absolute;
      right: 0.5em;
      bottom: 0.5em;
      width: 3.25em;
      height: 3.25em;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23333' stroke-width='1' /%3E%3C/svg%3E");
      background-size: 5px 5px;
      content: "";
      z-index: -1;
    }
  }
  
  .comment-author-name {
    display: inline-block;
    margin: 0 0 0.25em;
    font-size: 1.25em;
    line-height: 1;
  
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .comment-reply {
    text-align: right;
  
    a {
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .comment-reply-notifications {
    margin: 1rem 0;
  }
  
  #cancel-comment-reply-link {
    margin-left: 1em;
  }
  
  #comment-form {
    margin-bottom: 3em;
  }
  
  /* Site author specific */
  .admin {
    .comment-author-name {
      box-shadow: inset 0 -0.25em 0 rgba($warning-color, 0.5);
    }
  }


  /* ==========================================================================
   Forms
   ========================================================================== */

input,
label,
select {
  display: block;
}

label {
  margin-bottom: 0.5em;
  font-family: $monospace-font-family;
  font-size: 0.8em;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input,
textarea,
select,
select[multiple="multiple"] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.25em;
  padding: 0.75em;
  transition: border-color;
  border-color: $form-border-color;
  border-style: solid;
  border-width: 1px 1px 4px 1px;
  border-radius: $form-border-radius;
  background-color: #fff;
  font-family: $form-font-family;
  font-size: $form-font-size;
  box-shadow: $form-box-shadow;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
    box-shadow: $form-box-shadow-focus;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  width: initial;
  margin-right: 0.5em;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
}

form button,
form .btn,
input[type="submit"] {
  margin: 1em 0;
  appearance: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
}

form {
  ul,
  ol,
  li {
    padding-left: 0;
    list-style-type: none;
  }
}

.form-group {
  margin-bottom: 0.5rem;
}

/* required */
.req,
.required {
  color: $danger-color !important;
  font-weight: bold;
}

/* instructions */
.instruct {
  font-size: 0.8em;
  font-style: italic;
}

/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 * Default Kramdown usage (no indents!):
 * <div class="notice" markdown="1">
 * #### Headline for the Notice
 * Text for the notice
 * </div>
 */

 @mixin notice($notice-color) {
    margin: 2em 0;
    padding: 1em;
    background-color: mix(#fff, $notice-color, 90%);
    border-left: 0.25em solid mix(#fff, $notice-color, 50%);
  
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0 !important; // override
      margin-bottom: 0.75em;
      line-height: 1 !important; // override
    }
  
    @at-root .page-content #{&} a {
      border-bottom-width: 2px;
      box-shadow: none !important; // override
  
      &:hover {
        background-color: transparent !important; // override
      }
    }
  
    a {
      color: mix(#000, $notice-color, 25%) !important; // override
    }
  
    table {
      margin-top: 1.5em;
    }
  
    thead {
      border-color: mix(#fff, $notice-color, 70%);
    }
  
    tr {
      &:not(:last-child) {
        border-color: mix(#fff, $notice-color, 70%);
      }
    }
  
    /* remove space at end */
    > *:last-child {
      margin-bottom: 0;
    }
  }
  
  /* default notice */
  .notice {
    @include notice($primary-color);
  }
  
  /* info notice */
  .notice--info {
    @include notice($info-color);
  }
  
  /* warning notice */
  .notice--warning {
    @include notice($warning-color);
  }
  
  /* success notice */
  .notice--success {
    @include notice($success-color);
  }
  
  /* danger notice */
  .notice--danger {
    @include notice($danger-color);
  }

  /* ==========================================================================
   Icons
   ========================================================================== */

.icon {
    display: inline-block;
    position: relative;
    top: -0.125em; /* fine-tune alignment */
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
    fill: currentColor;
  
    &.spin {
      animation: spin 2s infinite linear;
    }
  
    $icons: (
       (email, #000),
       (facebook, $facebook-color),
       (flickr, $flickr-color),
       (github, $github-color),
       (googleplus, $google-plus-color),
       (instagram, $instagram-color),
       (rss, $rss-color),
       (twitter, $twitter-color),
       (youtube, $youtube-color)
    );
  
    @each $icon, $color in $icons {
      &--#{$icon} {
        fill: $color;
      }
    }
  
    /* icon--arrow-left */
    &--arrow-left {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  
  .emoji {
    width: 1em;
    max-width: 20px;
    height: 1em;
    max-height: 20px;
    margin: 0;
  }

  /* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border: 0;
    border-radius: $border-radius;
    background-color: $accent-color;
    color: #fff;
    font-family: $monospace-font-family;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
      background-color: tint($accent-color, 20%);
      color: #fff;
    }
  
    &:visited {
      color: #fff;
    }
  
    &:active {
      transform: scale(0.95);
    }
  
    &:focus {
      background-color: shade($accent-color, 20%);
    }
  
    .icon {
      margin-right: 0.5em;
    }
  
    &--group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
  
      @include breakpoint($medium) {
        flex-direction: row;
      }
  
      .btn {
        margin-bottom: 0.25em;
      }
  
      .btn + .btn {
        @include breakpoint($medium) {
          margin-left: 0.25em;
        }
      }
    }
  
    /* block button fills width of parent container */
    &--block {
      display: block;
      width: 100%;
  
      + .btn--block {
        margin-top: 1rem;
      }
    }
  
    /* for dark backgrounds */
    &--inverse {
      outline: 0.125em solid #000;
      background-color: #fff;
      color: #000 !important;
  
      &:hover {
        outline: 0.125em solid #000;
        background-color: mix(#000, #fff, 10%);
      }
    }
  
    /* light outline */
    &--light-outline {
      border: 1px solid #fff !important; // override
      background-color: transparent;
    }
  
    /* information */
    &--info {
      background-color: $info-color;
  
      &:hover {
        background-color: mix(#000, $info-color, 20%);
      }
    }
  
    /* warning */
    &--warning {
      background-color: $warning-color;
  
      &:hover {
        background-color: mix(#000, $warning-color, 20%);
      }
    }
  
    /* success */
    &--success {
      background-color: $success-color;
  
      &:hover {
        background-color: mix(#000, $success-color, 20%);
      }
    }
  
    /* danger */
    &--danger {
      background-color: $danger-color;
  
      &:hover {
        background-color: mix(#000, $danger-color, 20%);
      }
    }
  
    /* disabled */
    &--disabled {
      pointer-events: none;
      box-shadow: none;
      cursor: not-allowed;
      opacity: 0.65;
    }
  
    /* social buttons */
    $social: (facebook, $facebook-color),  (twitter, $twitter-color);
  
    @each $socialnetwork, $color in $social {
      &--#{$socialnetwork} {
        background-color: $color;
  
        &:hover {
          background-color: mix(#000, $color, 20%);
        }
      }
    }
  }